
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,500&display=swap');
  * {
    box-sizing:border-box;
   }
   ::-webkit-scrollbar{
       display: none;
   }
   h2 {
       color:white ;
   }
   a{
       text-decoration:none;
       color:black;
   }
   li {
       list-style-type: none;
   }
   .kenburns-right {
    webkit-animation: kenburns-right 4s ease-out reverse ;
	        animation: kenburns-right 4s ease-out reverse ;
  }

    @-webkit-keyframes kenburns-right {
      0% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 50%;
                transform-origin: 84% 50%;
      }
      100% {
        -webkit-transform: scale(1.25) translateX(20px);
                transform: scale(1.25) translateX(20px);
        -webkit-transform-origin: right;
                transform-origin: right;
      }
    }
    @keyframes kenburns-right {
      0% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 50%;
                transform-origin: 84% 50%;
      }
      100% {
        -webkit-transform: scale(1.25) translateX(20px);
                transform: scale(1.25) translateX(20px);
        -webkit-transform-origin: right;
                transform-origin: right;
      }
    }

  

  .animate__animated .animate__slideInUp {
    --animate-duration: 10s;
  }
  .animate__animated .animate__fadeInRight {
    --animate-duration: 12s;
  }
  /* This changes all the animations globally */
  :root {
    --animate-duration: 700ms;
    --animate-delay: 0.9s;
  }
  .color-change-5x{animation:color-change-5x 20s linear .8s infinite alternate backwards}


@keyframes color-change-5x{0%{background:#19dcea}25%{background:#b87adb}50%{background:#c38888}75%{background:#6c685a}100%{background:#86bc76}}

.heartbeat{-webkit-animation:heartbeat 90s ease-in-out infinite both;animation:heartbeat 90s ease-in-out infinite both}

@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

 /* ==========  Media Queries ============= */

 /* for Large Screens */
 @media screen and (max-width: 992px) {

 }
  /* For medium screens*/
  @media screen and (max-width: 798px) {
    
  }
  @media screen and (max-width: 576px) {
    
  }
  
  /* For Smaller screens */
  @media screen and (max-width: 350px) {
    
  }